<%= form_for([:admin, @body_part]) do |f| %>

  <%= f.error_messages %>

  <%= field_set_tag 'Basic' do -%>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :introduction %><br />
      <%= f.text_area :introduction, :class => "tinymce" %>
    </div>

    <%= f.image_field :image %>

  <% end -%>

  <%= field_set_tag 'Settings' do -%>

    <div class="field">
      <%= f.label :display %><br />
      <%= f.check_box :display %>
    </div>

  <% end -%>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
