<div class="addthis_toolbox">
  <div class="custom_images">
    <a class="addthis_button_googleplus at300b" title="Google+" href="#"><%= image_tag 'icons/social_gplus.gif' %></a>
    <a class="addthis_button_linkedin at300b" title="LinkedIn" href="#"><%= image_tag 'icons/social_linkedin.gif' %></a>
    <a class="addthis_button_twitter at300b" title="Tweet" href="#"><%= image_tag 'icons/social_twitter.gif' %></a>
    <a class="addthis_button_facebook at300b" title="Facebook" href="#"><%= image_tag 'icons/social_facebook.gif' %></a>
    <a class="addthis_button_more at300b" target="_blank" title="View more services" href="#"><%= image_tag 'icons/social_share.gif' %></a>
    </div>
<div class="atclear"></div></div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e85cbc5788ce28b"></script>