<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @price.title %>
</p>

<p>
  <b>Price:</b>
  <%= @price.price %>
</p>

<p>
  <b>Content:</b>
  <%= @price.content %>
</p>

<p>
  <b>Image:</b>
  <%= @price.image %>
</p>


<%= link_to 'Edit', edit_price_path(@price) %> |
<%= link_to 'Back', prices_path %>
