<li><%= link_to 'Pages', main_app.admin_pages_path %></li>
<li><%= link_to BodyPart.model_name.human.pluralize, main_app.admin_body_parts_path %></li>
<li><%= link_to Article.model_name.human.pluralize, main_app.admin_articles_path %></li>
<li><%= link_to Testimonial.model_name.human.pluralize, main_app.admin_testimonials_path %></li>
<li><%= link_to Treatment.model_name.human.pluralize, main_app.admin_treatments_path %></li>
<li><%= link_to Banner.model_name.human.pluralize, main_app.admin_banners_path %></li>
<li><%= link_to Price.model_name.human.pluralize, main_app.admin_prices_path %></li>
<li><%= link_to TeamMember.model_name.human.pluralize, main_app.admin_team_members_path %></li>
<li><%= link_to ActionQuote.model_name.human.pluralize, main_app.admin_action_quotes_path %></li>
<li><%= link_to 'SEO Entries', main_app.admin_seo_entries_path %></li>
<%# END OF LIST %>
