<div class="page">
  <div class="page-left">
    <a href="#explore-area" class="green-button mobile-area-toggle mobile-only">Explore</a>

    <div id="explore-area" class="mobile-hidden">
      <div class="green-header">
        <h2>Explore</h2>
        <span class="arrow"> </span>
      </div>

      <ul class="side-nav">
        <% @body_parts.each do |body_part| %>
            <li><%= link_to body_part.name, body_part %></li>
        <% end %>
      </ul>
    </div>
  </div>
    <div class="page-middle">
      <div class="middle-inner">
        <!-- <h1><%#= title @current_branch.name %></h1> -->

        <div class="know-your-body-teaser green-header">
          <h3>This is only a small taste of what we offer...</h3>
          <span class="arrow"></span>
          <p>If you are a patient of Physio Med you will automatically have access to our full
          <strong>Know Your Body</strong> section where you will find a vast resource on the types of injuries
          that you could suffer from as well as information about the steps that should be taken
          for fixing this problem.</p>
        </div>
        
        <div class="know-your-body-teaser green-header know-your-body-instructions">
          <h3>Know Your Body</h3>

          <p>Hover over the red circles to see the body part.</p>
          <p>Click to view a taster of the information we provide.</p>
        </div>

        <div class="mobile-only" id="body-thumbs">
          <% @body_parts.each do |body_part| %>
            <div class="body-part">
              <% unless body_part.image.blank? %>
                <%= image_tag body_part.image.index %>
              <% end %>
              <%= link_to body_part.name, body_part, :class => 'part-title' %>
              <%= link_to "Read More", body_part, :class => 'green-button part-read-more' %>
            </div>
            <div class="clear"></div>
          <% end %>
        </div>

        <div class="mobile-hidden" id="full-body">
          <div id="front-body" class="left">
            <div class="head">
              <%= image_tag "know-your-body/front-parts/head.jpg" %>
            </div>

            <div class="shoulder">
              <%= link_to image_tag("know-your-body/front-parts/shoulder.jpg"), body_part_path(4), "data-title" => "Shoulder" %>
            </div>

            <div class="right-shoulder">
              <%= image_tag("know-your-body/front-parts/right-shoulder.jpg") %>
            </div>

            <div class="shoulders">
              <%= image_tag "know-your-body/front-parts/shoulders.jpg" %>
            </div>

            <div class="wrist">
              <%= image_tag "know-your-body/front-parts/wrist.jpg" %>
            </div>

            <div class="hip">
              <%= link_to image_tag("know-your-body/front-parts/hip.jpg"), body_part_path(2), "data-title" => "Hip" %>
            </div>

            <div class="right-arm">
              <%= image_tag "know-your-body/front-parts/right-arm.jpg" %>
            </div>

            <div class="legs">
              <%= image_tag "know-your-body/front-parts/legs.jpg" %>
            </div>

            <div class="left-knee">
              <%= link_to image_tag("know-your-body/front-parts/left-knee.jpg"), body_part_path(3), "data-title" => "Knee" %>
            </div>

            <div class="right-knee">
              <%= image_tag "know-your-body/front-parts/right-knee.jpg" %>
            </div>

            <div class="lower-leg">
              <%= image_tag "know-your-body/front-parts/lower-leg.jpg" %>
              <!--<%= link_to image_tag("know-your-body/front-parts/lower-leg.jpg"), body_part_path(8), "data-title" => "Lower leg" %>-->
            </div>

            <div class="foot">
              <%= link_to image_tag("know-your-body/front-parts/foot.jpg"), body_part_path(7), "data-title" => "Foot" %>
            </div>

            <div class="above-ankle">
              <%= image_tag "know-your-body/front-parts/above-ankle.jpg" %>
            </div>

            <div class="ankle">
              <%= image_tag "know-your-body/front-parts/ankle.jpg" %>
              <!--<%= link_to image_tag("know-your-body/front-parts/ankle.jpg"), body_part_path(6), "data-title" => "Ankle" %>-->
            </div>
          </div>

          <div class="left">
            <div id="back-body">
              <div class="neck">
                <%= link_to image_tag("know-your-body/back-parts/neck.jpg"), body_part_path(10), "data-title" => "Neck" %>
              </div>

              <div class="shoulders">
                <%= image_tag("know-your-body/back-parts/shoulders.jpg") %>
              </div>

              <div class="elbow">
                <%= link_to image_tag("know-your-body/back-parts/elbow.jpg"), body_part_path(9), "data-title" => "Elbow" %>
              </div>

              <div class="middle-back">
                <%= image_tag("know-your-body/back-parts/middle-back.jpg") %>
              </div>

              <div class="wrist">
                <%= link_to image_tag("know-your-body/back-parts/wrist.jpg"), body_part_path(5), "data-title" => "Wrist" %>
              </div>

              <div class="lower-back">
                <%= link_to image_tag("know-your-body/back-parts/lower-back.jpg"), body_part_path(1), "data-title" => "Lower Back" %>
              </div>
              
              <div class="right-wrist">
                <%= image_tag "know-your-body/back-parts/right-wrist.jpg" %>
              </div>
              
              <div class="lower-legs">
                <%= image_tag "know-your-body/back-parts/lower-legs.jpg" %>
              </div>
              
              <div class="lower-left-leg">
                <%= link_to image_tag("know-your-body/back-parts/lower-left-leg.jpg"), body_part_path(8), "data-title" => "Lower leg" %>
              </div>
              
              <div class="lower-right-leg">
                <%= link_to image_tag("know-your-body/back-parts/lower-right-leg.jpg"), body_part_path(8), "data-title" => "Lower leg" %>
              </div>              
              
              <div class="left-foot">
                <%= image_tag "know-your-body/back-parts/left-foot.jpg" %>
                <!-- <%= link_to image_tag("know-your-body/back-parts/left-foot.jpg"), body_part_path(7), "data-title" => "Foot" %> -->
              </div>
              
              <div class="right-foot">
                <%= link_to image_tag("know-your-body/back-parts/right-foot.jpg"), body_part_path(6), "data-title" => "Ankle" %>
              </div>
            </div>
          </div>
        </div>

        <div class="clear"></div>

        <hr />

        <%= render "shared/social_links" %>
      </div>
     </div>

  <div class="page-right">
    <%= image_tag 'page-side-shoulder.jpg' %>
    
    <%= render "shared/no_visual_right_side_contact" %>

    <% unless @testimonials.blank? %>
      <div class="quote">
        <% @testimonials.each do |testimonial| %>
        <span class="open"></span>

          <p><%= testimonial.content %></p>

        <span class="close"></span>
        <% end %>
      </div>
    <% end %>
    
  </div>

  <div class="clear"></div>
</div>

